<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <% # there's only one interesting field in the model. Display it here %>
</p>


<%= link_to "Edit", makes_edit_path %> |
<%= link_to "List", makes_index_path %>